.rectangle {
	width: 30%;
	height: 1000%;
	background-color: #46494c;
	border: solid 1px #979797;
  margin-top: 0px;
  padding: 0px;
  position: absolute;
}
.logo {
  height: 40%;
  width: 40%;
  margin: 0px;
  position: relative;
  padding-top: 100px;
}
.rectangle-2 {
  clear: right;
  width: 70%;
  height: 1000%;
  background-color: #c5c3c6;
  position: absolute;
  right: 0px;
}
.navigation {
  list-style: none;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;

}
.navigation a {
  text-decoration: none;
  color: #087e8b;
}
.navigation li {
  margin: 10px;
}
